<nav class="navbar sticky-top navbar-expand-lg navbar-primary bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            <img src="assets/img/house-door-fill.svg" width="32px">
        </a>
        <div>
            <h1 class="text-white">
                Teste Front-End Angular Squadra
            </h1>
        </div>
        <div class="d-flex" (click)="teste()">
            <img src="assets/img/cart-fill.svg" width="32px">
        </div>
    </div>
</nav>