<div class="card text-center">
    <img [src]="ngDataSource.img" width="290px" height="135px" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ngDataSource.titulo}}</h5>
        <section class="card-text">
            <p>
                {{ngDataSource.descricaoBreve}}
            </p>
            <p>
                {{ngDataSource.valor | currency : 'BRL'}}
            </p>
        </section>
        <a href="#" class="btn btn-primary">Comprar</a>
    </div>
</div>