<div class="card text-center">
    <img [src]="ngDataSource.imgs[0]" width="290px" height="135px" loading="lazy" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ngDataSource.titulo}}</h5>
        <section class="card-text">
            <p>
                {{ngDataSource.detalhes[0]}}
            </p>
            <p>
                {{ngDataSource.valor | currency : 'BRL'}}
            </p>
        </section>
        <button class="btn btn-primary" (click)="abrirOferta()">Comprar</button>
    </div>
</div>