<div class="row justify-content-center">
    <div class="col-4">
        <app-carrossel-imagens [ngDataSource]="imagens"></app-carrossel-imagens>
    </div>
    <div class="col-2">
        <section style="display: flex; flex-direction: column; align-items: flex-start;">
            <h2> {{ofertaSelecionada.titulo}} </h2>

            <p>{{detalhe}}</p>

            <p>por apenas</p>

            <h3>{{ofertaSelecionada.valor | currency : 'BRL'}}</h3>

            <button class="btn btn-primary" (click)="abrirCheckOut()">Comprar</button>
        </section>
    </div>
</div>

<section class="informacoes">
    <h2>Detalhes da oferta:</h2>
    <div>
        <p *ngFor="let detalhe of ofertaSelecionada.detalhes"><img src="assets/img/check-lg.svg"> Oferta inclui:
            {{detalhe}}
        </p>
    </div>
</section>

<br>

<section class="informacoes">
    <h2>Destaques da oferta:</h2>
    <div>
        <p *ngFor="let destaque of ofertaSelecionada.destaques"><img src="assets/img/star.svg">
            {{destaque}}
        </p>
    </div>
</section>