<ngu-carousel #carrosel [inputs]="carrosselConfig" [dataSource]="ngDataSource">
    <ngu-tile *nguCarouselDef="let item; let i = index">
        <div class="tile">
            <app-card [ngDataSource]="item"></app-card>
        </div>
    </ngu-tile>
    <button *ngIf="ngDataSource.length > 4" NguCarouselNext class="controle btn btn-primary-light btn-lg"
        style="right: 0;">
        <img src="assets/img/arrow-right.svg">
    </button>
    <button *ngIf="ngDataSource.length > 4" NguCarouselPrev class="controle btn btn-primary-light btn-lg"
        style="left: 0;">
        <img src="assets/img/arrow-left.svg">
    </button>
</ngu-carousel>