/* You can add global styles to this file, and also import other style files */

$primary: #2ec4b6;
$primary-light: #cbf3f0;
$secondary: #ff9f1c;
$secondary-light: #ffbf69;
// $danger: #ff4136;

$theme-colors: (
  "primary": $primary,
  "primary-light": $primary-light,
  "secondary": $secondary,
  "secondary-light": $secondary-light,
);

.btn {
  padding: 0;
}
.controle {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 2em;
  height: 2em;
  z-index: 999;
}

@import "../node_modules/bootstrap/scss/bootstrap";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
